<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="gridiron-local" value="C:\projects\gridiron-engine\nupkg" />
    <!-- Uncomment for GitHub Packages in CI/CD -->
    <!-- <add key="github-merciless" value="https://nuget.pkg.github.com/merciless-creations/index.json" /> -->
  </packageSources>
</configuration>
