<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="github-merciless" value="https://nuget.pkg.github.com/merciless-creations/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github-merciless>
      <add key="Username" value="USERNAME" />
      <add key="ClearTextPassword" value="%NUGET_AUTH_TOKEN%" />
    </github-merciless>
  </packageSourceCredentials>
</configuration>
